*{
	margin:0;
	padding: 0;
}

a,p{
	display: block;
}

img {
    max-width: 100%;
}

p{
	color: #606060 !important;
}

ul{
	list-style: none;
}

html, body {
	height: 100%;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border-bottom-width: 1px !important;
}

table th, td{
	text-align: center;
}

table .tr-iq, table .td-iq{
	background: #fbc531;
	font-weight: bold;
}

.info-post{
	padding-left: 10px;
}

.info-post span{
	color: #606060;
}


.content-post p a{
	display: inline;
}
.title-post h1{
	font-size: 2.8em;
	font-weight: bold;
}

.content-post h1{
	font-weight: bold;
}

.content-post h2{
	font-size: 1.5em;
}
.content-post img{
	margin: 15px 0;
}

.box-countdown{
	display: none;
	height: 40px;
	padding: 0px 20px 0 20px;		
	z-index: 100;
	position: fixed;
	background: #dc3545;
	bottom: 10px;
	border-radius: 4px;
	left: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.box-countdown p{
	line-height: 40px;
	color: #fff !important;

}

#main-website{
	padding: 40px 0 40px 0;

}

.wrap{
	min-height: 100%;
	overflow: auto;
	padding-bottom: 60px;
}

.main-content{
	padding-right: 20px;
}

.main-content p{
	font-size: 17px;
}

.box-item h1, h2{
	font-weight: bold;
	padding-bottom: 10px;
}

.box-item ul li{
	padding-left: 5px;
	font-size: 17px;
	color:#606060;
}


.header{
}


.btn-play, .btn-result{
	text-align: center;
	width: 200px;
	padding: 14px 40px;
	background: #28ab56;
	color: #fff;
	border: none;
	font-weight: bold;
	border-radius: 4px;
	display: block;
	margin: 30px auto;
}

.box-rule ul li{
	font-size: 17px;
	color: #606060 !important;
}

.error-info p{
	display: none;
	color: red !important;
}

.btn-play:hover{
	color: #fff;
}

.my-list-group-title{
	background-color: #e0e0e0;
	border: none;
	padding: 10px;
	color: #333;
	font-size: 18px;
}

.text-qus p{
	font-size: 25px;
	font-weight: bold;
}

.item-play, .box-info, .box-result, .box-social{
	display: none;
}

.img-qus{
	border: 1px solid #c5c5c5; 

}

.img-qus img{
	display: block; 
	margin: 0 auto;
	max-width: 100%;
}

.title-high-member{
	margin-bottom: 40px;
}

.progress-counter{
	width: 3.846153846153846%;
	height: 5px;
	background: red;
}

.box-play{
	margin-bottom: 30px;
}

.anwser{
	margin-top: 30px;
}

.anwser-eq .anwser-item {
	text-transform: none !important;
	font-weight: normal!important;
}

.anwser-item{
	text-transform: capitalize;
	cursor: pointer;
	margin-top: 5px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	font-weight: bold;
	box-shadow: 1px 2px 2px #e0e0e0;
	margin-bottom: 10px;
}

.anwser-item:hover{
	background: #28ab56;
	border: 1px solid #28ab56;
	color: #fff;
	font-weight: bold;
}

.box-result{
	background: #28ab56;
	padding: 30px 20px;
	color: #fff;
	border-radius: 4px;
}

.box-result p{
	color: #fff !important;
	text-align: center;
}

.box-result .p-iq{
	font-size: 35px; 
	font-weight: bold;
}

.box-result .p-result1{
	font-size: 23px;
}

.box-result .p-result2{
	font-size: 20px;
}

.box-social{
	margin-top: 20px;
	display: none;
	overflow:hidden;
}



.box-social button,.box-social a{
	margin-left: 0;
	float: left;
	text-align: center;
	width: 100%;
	padding: 10px 0;
	color: #fff;
	border: none;
	font-weight: bold;
	border-radius: 4px;
	display: block;

}

.item-social{
	margin-bottom: 10px;
	padding-left: 0;
}



.btn-social{
	background: #e74c3c;
}

.box-social i{
	font-size: 20px;
	margin-right: 5px;
}

.btn-fb{
	background: #4267b2 !important;
}

.btn-reload, .btn-high-member{
	background: #DD4E3F;
}

footer{
	position: relative;
	margin-top: -60px;
	clear: both;
	height: 60px;
	border-top: 1px solid #dedede;
}

footer p{
	margin: 0;
	line-height: 60px;
}


@media only screen and (max-width: 600px) {
.text-qus p{
	font-size: 22px;
}
}
